@font-face {
    font-family: Bitopi Bijoy;
    src: url(../fonts/Bitopi\ Bijoy.ttf);
}
@font-face {
    font-family: Bungee-Regular;
    src: url(../fonts/Bungee-Regular.otf);
}
@font-face {
    font-family: Calibrib;
    src: url(../fonts/calibrib.ttf);
}
@font-face {
    font-family: ChandrabatiMatraMJ-Bold;
    src: url(../fonts/ChandrabatiMatraMJ-Bold.otf);
}
@font-face {
    font-family: ChandrabatiMatraMJ-Regular;
    src: url(../fonts/ChandrabatiMatraMJ-Regular.otf);
}
@font-face {
    font-family: ChandrabatiMJ-Bold;
    src: url(../fonts/ChandrabatiMJ-Bold.otf);
}
@font-face {
    font-family: ChandrabatiMJ-Regular;
    src: url(../fonts/ChandrabatiMJ-Regular.otf);
}
@font-face {
    font-family: Helvetica65-Medium;
    src: url(../fonts/HELVETICA65-MEDIUM.TTF);
}
@font-face {
    font-family: Helvetica-rounded;
    src: url(../fonts/HelveticaRoundedLTStd-Bd.otf);
}
@font-face {
    font-family: MyriadPro-Bold;
    src: url(../fonts/MyriadPro-Bold.otf);
}
@font-face {
    font-family: MyriadVariable;
    src: url(../fonts/MyriadVariableConcept-Roman.otf);
}

@font-face {
    font-family: SutonnyMJ-Bold;
    src: url(../fonts/SutonnyMJ-Bold.otf);
}
